.castoro-titling-regular {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;
}

.first-color { 
	background: #defcf9; 
}
	
.second-color { 
	background: #cadefc; 
}

.third-color { 
	background: #c3bef0; 
}

.fourth-color { 
	background: #cca8e9; 
}