.my-flex-container {
  /*background-color: yellow;*/
  display: flex;
  flex-direction: column;  
  justify-content: space-evenly;
  justify-content: center;
}

.my-row {

}

.my-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;

  gap: 10px;
  /*background-color: yellow;*/

  min-height: 100vh;
  padding: 20px;
}

.my-grid-item {
  /*background-color: rebeccapurple;*/
  text-align: center;
}