body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
  background-size: 20px 20px;
}

.castoro-titling-regular {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;
}

.first-color { 
	background: #45171d; 
}
	
.second-color { 
	background: #e84a5f; 
}

.third-color { 
	background: #ff847c; 
}

.fourth-color { 
	background: #fecea8; 
}